@model AutoDijelovi1.Models.Skladiste

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Skladiste</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NazivSkladista)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NazivSkladista)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Lokacija)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Lokacija)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SkladisteId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
